@model photo.Models.Purchase
@{
    ViewBag.Title = "Home Page";
}
<div ng-app="Photo" ng-controller="PhotoCtrl">
    <div class="container-custom">
        <div id="uldiv">
            @*display photos to be clicked on*@
            <ul class="ul-Photos">
                <li ng-repeat="p in photos" class="li-custom"><div class="button-custom" data-toggle="modal" data-target="#myModal" ng-click="open(p)"><img class="img-responsive" ng-src="{{p.FileLocation}}" /></div></li>
            </ul>
        </div>
    </div>



    @*Modal that popes up when an image is clicked on*@
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4 class="modal-title">{{photoInfo.Name}}</h4>
        </div>
        <div class="modal-body">
            <div id="uldivA">
                <div class="div-custom">                    
                    <img class="img-responsiveB" ng-src="{{imgAddress}}" />
                </div>
            </div>
            <form class="left name=" printform">
                <table class="table-custom">
                    <tr>
                        <td class="td-customD">
                            <label>Size :</label>
                            <select title="Size" name="selectSize" ng-init="option[0]" ng-model="size" ng-change="UpdateCost()">
                                <option value="12.18">12in*18in</option>
                                <option value="16.24">16in*24in</option>
                                <option value="20.30">20in*30in</option>
                                <option value="24.36">24in*36in</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-customD">
                            <label>Cost:</label>
                            <span class="h5"> ${{cost}} </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-customD">
                            <input type="submit" value="Buy Now" class="btn-primary" ng-click="buy()" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>       
    </script>  
</div>


<script>
    angular.module('Photo', ['ui.bootstrap']).controller('PhotoCtrl', function ($scope, $http, $window, $modal, $log) {

        $scope.cost = "35.00";
        $scope.size = "12.18";
        $scope.photos = @Html.Action("GetImgs")
        $scope.imgAddress = $scope.photos[0];
        $scope.photoInfo;

        /**************modal start************/
        $scope.animationsEnabled = true;
        /*When image is clicked, open is calleda and passed the information of the image passed and creates modal popup*/
        $scope.open = function (p) {
            $scope.imgAddress = p.FileLocation;
           
            var modalInstance = $modal.open({               
                animation: $scope.animationsEnabled,
                templateUrl: 'myModalContent.html',
                controller: 'ModalInstanceCtrl',                
                resolve: {
                    imgAddress: function () { return $scope.imgAddress; },
                    photoInfo: function () { return p; }
                }
            });

            modalInstance.result.then(function (selectedItem) {
                $scope.selected = selectedItem;
            },
            function () {
                $log.info('Modal dismissed at: ' + new Date());
            });
        };

        $scope.toggleAnimation = function () {
            $scope.animationsEnabled = !$scope.animationsEnabled;
        };
        /**************modal end************/
    });


    angular.module('ui.bootstrap').controller('ModalInstanceCtrl', function ($scope, $window,$http, $modalInstance, imgAddress,photoInfo) {
        $scope.imgAddress = imgAddress;      
        $scope.photoInfo = photoInfo;
        $scope.cost = "35.00";
        $scope.size = "12.18";
        $scope.init = function () {
            $http.get("/Home/FindImageByFileName", { params: { imginfo: imgAddress } })
          .success(function (data) {
              $scope.photoInfo = data;
          })
          .error(function () { return ""; });
        }

        /*pass information about image being bought and pass to Purchase in controller which returns address to paypal site to go through with payment*/
        $scope.buy = function () {
            var img = $scope.photoInfo.Name;
            var sz = $scope.size;
            var p = $scope.cost;
            var data = { photoname: img, size: sz, cost: p };
            $http.post("/Home/Purchase", data)
            .success(function (data) {
                var url = data;
                $window.location.href = url;
                $scope.$apply();
            })
            .error(function (data, status, headers, config) {
                window.alert(data);
            });
        };

        /*close modal */
        $scope.cancel = function () {
            $modalInstance.dismiss('cancel');
        };

        /*update cost value based on size that is selected*/
        $scope.UpdateCost = function () {
            if ($scope.size == "12.18") { $scope.cost = "35.00"; }
            if ($scope.size == "16.24") { $scope.cost = "70.00"; }
            if ($scope.size == "20.30") { $scope.cost = "100.00"; }
            if ($scope.size == "24.36") { $scope.cost = "136.00"; }
        };
       
    });


</script>